@import "scss/font_mixins.scss";

.selectable__li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;

  // padding: 18px; non-extension
  padding: 16px;

  background-color: var(--token-dark-700);
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }

  .chain__icon__container {
    position: relative;

    .chain__icon {
      border-radius: 50%;
      // height: 32px; non-extension
      // width: 32px; non-extension
      height: 26px;
      width: 26px;
    }
  }

  .selectable__details__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .selectable__details {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .selectable__name {
        display: flex;
        align-items: center;
        gap: 8px;

        // @include Medium; non-extension
        @include Small;
        color: var(--token-light-300);
      }

      .selectable__address, svg {
        @include X-Small;
        color: var(--token-light-300);
        fill: var(--token-light-300);
      }
    }

    .selectable__settings {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    svg {
      margin-right: 8px;
    }
  }

  &.active {
    .selectable__details__container {
      .selectable__name, svg {
        color: var(--token-light-white);
        fill: var(--token-light-white);
      }

      .selectable__address {
        color: var(--token-light-100);
      }
    }
  }

  &.with__pill {
    padding-top: 14px;

    .chain__icon__container {
      margin-top: 2px;
    }

    .selectable__details__container {
      .selectable__details {
        gap: 6px;
      }
    }
  }

  &.disabled {
    background-color: var(--token-dark-500);
  }

  &.address__li {
    .selectable__details__container {
      .selectable__name {
        color: var(--token-light-white);
      }

      .selectable__address {
        color: var(--token-light-100);
      }
    }
  }
}
