@import "scss/font_mixins";

.tabs__container {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--token-dark-600);
  background-color: var(--token-dark-500);
  display: flex;
  overflow: hidden;

  button {
    @include X-Small;
    width: 100%;
    color: var(--token-dark-900);
  }

  .active {
    background-color: var(--token-dark-100);
    color: var(--token-light-white);
  }
}