@import "mixins";

.activitylist {
  background-color: var(--card-bg-muted);
  padding-inline: 10px;
  display: grid;
  grid-template-areas: "title" "list";
  grid-template-rows: min-content auto;
  overflow-y: hidden;
}
