.flex__column__container {
  position: relative;
}

.blur__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(19, 19, 22, 0.9);

  backdrop-filter: blur(4px);
}

.input__wrapper__real {
  &.is__focused {
    position: absolute;
    width: 100%;
    top: 8px;
    filter: drop-shadow(0 40px 20px hsl(230, 9%, 7%));
    z-index: 10000;

    height: 250px;
  }
}

.options {
  position: absolute;
  background-color: var(--token-dark-500);
  border: 1px solid var(--token-dark-700);
  border-radius: 8px;
  z-index: 102;
  width: 100%;
  max-height: 200px;
  box-shadow: 0px 5px 7px 0px #0000009c;
  top: 70px;
  overflow: hidden;

  .options__container {
    padding: 16px;
    overflow: auto;
    max-height: 200px;

    .children {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.done__button {
  color: var(--primary-500-base, #075cee);
  font-size: 14px;
}
