@import "scss/font_mixins";

.summary__table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--token-dark-600);

  .row{
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .label {
      @include Small;
      color: var(--token-dark-900);
    }

    .value {
      @include Small;
      color: var(--token-light-white);
    }
  }
}