@import "scss/font_mixins";
@import "scss/mixins";

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0 0% 0% / 0.8);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1050;
}

.modal {
  max-height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 24px;

  background: var(--token-dark-200);
  border-radius: 8px;
  border: 1px solid var(--token-dark-700);
  box-shadow: 0 4px 8px 0 hsl(0 0% 0% / 0.2);
  outline: 0;
  position: relative;

  padding: 40px 30px;
  width: 620px;

  @media (max-width: 600px) {
    padding: 48px 20px;
    width: calc(100% - 40px);
  }

  @include extension {
    padding: 40px 24px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    border: 0;
    border-radius: 0;
  }

  &.minimal {
    width: fit-content !important;
    padding: 0 !important;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  padding: 16px;
  color: var(--token-light-100);
}

.back__button {
  font-size: 24px;
  color: var(--token-light-100);
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}

.header {
  text-align: center;
  width: 100%;
}

.icon {
  font-size: 56px;
  line-height: 1;
}

.title {
  @include Medium-Large;
  font-weight: 600;
}

.subtitle {
  @include X-Small;
  color: var(--token-light-100);
  margin-top: 4px;
}

@include extension {
  .title {
    text-align: left;
  }

  .subtitle {
    text-align: left;
  }

  .close {
    margin: 24px 0;
  }
}

.confirm {
  font-size: inherit;
}

.footer {
  margin-top: 8px;
}

.main {
  flex: 1;
  overflow-y: scroll;
  max-height: 70vh;

  @include extension {
    max-height: 90vh;
  }
}

.button__override {
  margin-top: 24px;
}

.force__extension { // This is a hack to force the extension to use the extension styles
  padding: 40px 24px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  border: 0;
  border-radius: 0;

  .main {
    max-height: 90vh;
  }

  .title {
    text-align: left;
  }

  .subtitle {
    text-align: left;
  }

  .close {
    margin: 24px 0;
    padding: 16px 24px;
  }
}
