@import "mixins";

.activitylist {
  padding-bottom: 1.6rem;
  overflow-y: auto;
  width: 100%;
}

.loader {
  color: #065bed;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.loadingtext {
  color: white;
  padding-top: 24px;
  display: flex;
  justify-content: center;
}
