@import "mixins";

.activitylist {
  padding-bottom: 16px;
  overflow-y: auto;
  width: 100%;
}

.loader {
  color: var(--token-dark-900);
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.loadingtext {
  color: var(--token-dark-900);
  padding-top: 8px;
  display: flex;
  justify-content: center;
}
