.quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .hints__container > *,
  .footer > * {
    width: 100%;
  }
}

.hint {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 12px;
}
