@import "mixins";

.header {
  @include flex(space-between);
  background: var(--menu-bg);
  color: var(--text);
  border-bottom: var(--border-width) solid var(--card-border);
  padding: 10px;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 1;
}
