@import "mixins";

.asset {
  @include flex(space-between, flex-start);
  padding: 16px 20px;
  position: relative; // to loading indicator

  &:not(:first-child) {
    border-top: 1px solid var(--card-border);
  }
}

.details {
  @include flex(space-between, flex-start);
  gap: 10px;
}

.symbol,
.amount {
  font-size: 16px;
}

.amount {
  font-weight: var(--normal);
}

.value {
  color: var(--text-muted);
  font-size: var(--font-size-small);
}
