@import "mixins";
@import "font_mixins";

.welcome__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 12px;

  .logo__background {
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 0;
  }

  .welcome {
    margin-top: 4rem;

    .title {
      @include Large;
      color: var(--token-light-white);
      margin-top: 8px;
    }

    .content {
      @include SmallLH;
      text-align: center;
      color: var(--token-light-100);
    }
  }

  .top__content__wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .connect__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
