@import "font_mixins";

.picker {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: row;
  justify-content: center;
}

.emojiButton {
  background: none;
  border: none;
  cursor: pointer;
  @include Large;
}
