@import "scss/font_mixins";

.summary__column__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--token-dark-600);

  .title__row {
    display: flex;
    justify-content: space-between;

    .title {
      @include Medium;
      color: var(--token-light-white);
    }
  }

  .description {
    @include SmallLH;
    color: var(--token-light-100);
    word-break: break-all;
  }

  .noWordBreak {
    word-break: normal;
  }
}
