@import "scss/font_mixins";

.input__wrapper {
  width: 100%;
}

.header {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  color: var(--token-light-100);
  @include X-Small;
}

.extra {
  color: var(--token-light-100);
  @include X-Small;
}

.warning {
  div {
    border-color: var(--token-warning-500);
  }

  p {
    padding: 0 8px;
    color: var(--token-warning-500);
    @include X-SmallLH;
  }
}

.error {
  div {
    border-color: var(--token-error-500);
  }

  p {
    padding: 0 8px;
    color: var(--token-error-500);
    @include X-SmallLH;
  }
}
