@import "mixins";

.chain {
  @include flex(space-between, center);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative; // to loading indicator
  transition: 300ms;
  height: fit-content;
}

.details {
  width: 100%;
}
