@import "mixins";

.networth {
  @include flex-column;
  padding: 2rem 1.6rem;

  p {
    color: var(--text-muted);
    font-size: 14px;
    line-height: 140%;
  }

  h1 {
    font-size: 32px;
    line-height: 150%;
    margin-top: 4px;
  }

  background-color: var(--token-dark-500);
}

.networth__buttons {
  @include flex;
  margin-top: 10px;
  width: 100%;
}
