.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--token-light-100);
}

.value {
  color: var(--token-light-white);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
