.wallet__page {
  margin: 0 auto;
  max-width: var(--extension-width);
  height: calc(100vh - var(--header-height));

  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas: "main" "tabs" "list";

  background-color: var(--token-dark-300);

  overflow: scroll;

  .main__container {
    grid-area: main;
    top: var(--header-height);
  }

  .tabs__container {
    grid-area: tabs;
    position: sticky;
    top: 0;
    background-color: var(--token-dark-500);
    z-index: 1001;
  }

  .list__container {
    grid-area: list;
    position: relative;
    padding: 14px;
  }
}
