@import "mixins";

.wallet {
  width: var(--extension-width);
  position: relative;
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
  transition: 400ms;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .back {
  //   position: absolute;
  //   left: 25px;
  //   top: 40px;
  // }
  // .close {
  //   position: absolute;
  //   right: 25px;
  //   top: 30px;
  // }

  h1 {
    font-size: x-large;
    margin: 10px;

    // &.previous {
    //   margin-left: 30px !important;
    // }
  }
}
