@import "scss/font_mixins";

.activity__li__container {
  display: flex;
  flex-direction: column;

  .activity__li {
    display: flex;
    gap: 16px;

    .activity__icon__container {
      position: relative;

      .activity__icon {
        width: 32px;
        height: 32px;
      }

      .status__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        background-color: var(--token-dark-300);
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: -4px;

        svg {
          width: 12px;
          height: 12px;
        }
      }

      .dashed__line {
        position: absolute;
        top: 32px;
        left: calc(50% - 1px);
        height: calc(100% - 32px);
        width: 1px;
        background-image: linear-gradient(to bottom, var(--token-dark-900) 50%, transparent 50%);
        background-size: 1px 8px;
      }
    }

    .activity__details__container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      .pill__container {
        display: flex;
        gap: 8px;
      }

      .activity__msg {
        @include MediumLH;
        color: var(--token-light-100);

        span {
          color: var(--token-light-white);
        }
      }

      .activity__time {
        @include X-Small;
        color: var(--token-light-100);
      }

      .progress__tracker {
        margin-top: 8px;
      }
    }

    &.has__timeline {
      .activity__details__container {
        margin-bottom: 24px;
      }
    }
  }

  .timeline {
    .timeline__line {
      display: flex;
      gap: 16px;

      .icon__container {
        padding-top: 1px;
        position: relative;

        .check__icon {
          display: flex;
          justify-content: center;
          height: 32px;
          width: 32px;

          svg {
            width: 16px;
            height: 16px;
          }
        }

        .dashed__line {
          position: absolute;
          top: 16px;
          left: calc(50% - 1px);
          height: calc(100% - 16px);
          width: 1px;
          border: 1px dashed var(--token-dark-900);
        }
      }

      .timeline__msg {
        @include SmallLH;
        color: var(--token-light-100);
        margin-bottom: 24px;

        span {
          color: var(--token-light-white);
        }
      }
    }
  }
}
