@import "scss/font_mixins";

.send__amount__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .input__group {
    display: flex;
    align-items: baseline;

    .actual__input {
      @include XX-Large;
      background: none;
      border: none;
      outline: none;
      padding: 0;
      margin-right: -1px; // Adjust as necessary to close the gap
      font-feature-settings: normal;

      &[type=number] {
        -moz-appearance: textfield;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .large__label {
      @include XX-Large;
      margin-left: 8px;
    }

    .mirror__span {
      @include XX-Large;
      visibility: hidden;
      white-space: pre;
      position: absolute;
      pointer-events: none;
      font-feature-settings: normal;

      &.mirror__span__currency {
        margin-left: 23px;
      }
    }
  }

  .secondary {
    @include Medium;
    color: var(--token-light-white);

    .secondary__mode__token {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .secondary__mode__currency {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    svg {
      cursor: pointer;
    }
  }

  .error__message {
    @include X-Small;
    color: var(--token-error-500);
    margin-top: 8px;
  }
}

