.ReactModal__Body--open {
  overflow: hidden;
}

.recharts-tooltip-wrapper:focus-visible {
  outline: none;
}

.recharts-legend-wrapper {
  max-width: 45%;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
