@import "scss/font_mixins";

body {
  font-size: var(--token-font-size-small) !important;
}

.toc-list-item {
  padding: 8px 0px !important;

  .node-name--H1 {
    font-family: var(--token-font-family-default) !important;
    font-weight: 600 !important;
    font-size: 16px;
    color: var(--token-dark-900);
  }

  .toc-list {
    .toc-list-item {
      padding: 4px !important;
      margin-left: 12px;

      &::before {
        transform: translateX(calc(-2px - 12px)) !important;
      }
    }

    .node-name--H2 {
      font-family: var(--token-font-family-default) !important;
      font-size: 10px;
      color: var(--token-dark-900);
    }
  }

}

.sbdocs {
  h1 {
    @include X-Large;
    margin-top: 40px !important;
  }

  h2 {
    @include Large;
    margin-top: 40px !important;
  }

  :where(div:not(.sb-anchor, .sb-unstyled, .sb-unstyled div)) {
    font-family: var(--token-font-family-default) !important;
  }
}

.story_with_source_below {
  font-family: var(--token-font-family-default) !important;
  .sbdocs {
    margin-bottom: 0px !important;
  }

  .docblock-argstable {
    margin-top: 0px !important;
  }

  .docblock-source {
    margin-top: 5px !important;
  }
}

.sbdocs-a {
  code {
    color: inherit !important;
  }
}

.sub__items {
  display: flex;
  gap: 8px;
  flex-flow: wrap;
  overflow: hidden;

  .story__wrapper {
    min-width: 210px;
    width: calc(100% / 4 - 8px);

    @media screen and (max-width: 1075px) {
      width: calc(100% / 3 - 8px);
    }

    position: relative;

    p {
      position: absolute;
      right: 20px;
      margin: 0;
      top: 22px;
      color: var(--token-light-100);
      @include X-Small;
      color: var(--token-primary-900);
      text-decoration: underline;
    }

    a {
      position: relative;
      line-height: inherit;

      &:hover {
        text-decoration: none;
      }

      h6 {
        position: absolute;
        left: 24px;
        margin: 0;
        top: 18px;
        color: var(--token-light-white);
        @include Medium;
      }

      p {
        position: absolute;
        right: 20px;
        margin: 0;
        top: 22px;
        color: var(--token-light-100);
        @include X-Small;
        color: var(--token-primary-900);
        text-decoration: underline;
      }

      .header__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0px;

        h6 {
          margin: 0;
          color: var(--token-dark-700);
          @include Medium;
        }

        p {
          margin: 0;
          display: flex;
          align-items: center;
          margin-right: 8px;
          @include X-Small;
          color: var(--token-primary-600);
        }
      }
    }

    .story__decorator {
      padding: 58px 24px 24px 24px !important;
      margin: 0 !important;
    }
  }
}