@import "scss/font_mixins";


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  @include Medium;
  color: var(--token-light-white);
}

.description {
  @include SmallLH;
  color: var(--token-light-100);
}