.page {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--token-dark-100);
  height: calc(100% - var(--header-height));
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  // padding here to position progress bar
}

.page > * {
  width: 100%;
}

.main__bg__color {
  background-color: var(--button-primary-bg);
}

.full__height {
  height: 100vh;
  padding-bottom: 0;
}

.full__height__body {
  height: 100%;
}

.header_container {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  .title__container {
    width: 100%;
  }

  svg {
    margin-top: 8px;
  }
}

.container {
  padding: 20px;

  .header & {
    padding-top: 0;
    padding-bottom: 12px;
  }

  .header > & {
    padding-bottom: 16px;
  }

  svg {
    z-index: 10;

    &:hover {
      cursor: pointer;
    }
  }
}

.header {
  padding-top: 20px;
  color: var(--extension-text);
  text-align: left;
  svg {
    color: var(--token-light-100) !important;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  width: 100%;
  display: flex;
  justify-content: center;

  &.skew_title {
    text-align: left;
    margin: 0;
    display: inline;
  }

  &.with_subtitle {
    font-size: 32px;
    line-height: 32px;
    margin-top: 40px;
  }
}

.subtitle {
  text-align: center;
  color: var(--token-light-100);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}

.small__subtitle {
  color: var(--token-light-100);
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
