@import "mixins";

.list {
  overflow: hidden;
}

.item {
  @include flex(space-between);

  color: var(--text);
  padding: 16px 20px;
  text-align: left;
  transition: var(--transition);
  width: 100%;
  margin-bottom: 12px;

  border: var(--border-width) solid var(--card-border);
  border-radius: var(--border-radius);

  &:hover {
    background: var(--card-bg-muted);
    text-decoration: none;
  }
}

.item__active {
  background: var(--button-primary-bg);
  border: var(--border-width) solid var(--button-primary-bg);
  &:hover {
    background: var(--card-bg-muted);
    text-decoration: none;
  }
}

.desc {
  font-size: 10px;
  font-weight: var(--normal);
}
