.page {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--token-dark-100);
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;

  //padding-bottom: 12px;
  @media screen and (max-width: 600px) {
    //padding-bottom: 3rem;
  }
}

.page > * {
  width: 100%;
}

.main {
  height: 100%;
}

.main__bg__color {
  background-color: var(--button-primary-bg);
}

.close__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .header {
    width: 100%;
  }
}

.container__with__icon {
  .header {
    margin-left: 30px;
  }
}

.modal__close__icon {
  color: var(--token-light-100) !important;

  &:hover {
    cursor: pointer !important;
  }
}

.back__icon {
  color: var(--token-light-100) !important;
  margin-top: 5px;

  &:hover {
    cursor: pointer !important;
  }
}

.modal {
  height: 100vh;
  padding-top: 10px;

  @media screen and (max-width: 600px) {
    padding-bottom: 0;
  }
}

.full__height {
  height: 100vh;

  @media screen and (max-width: 600px) {
    padding-bottom: 0;
  }
}

.full__height__body {
  height: 100%;
}

.header_container {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  .title__container {
    width: 100%;

    .img__container {
      margin-top: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -13px;

      img {
        width: 57px;
      }
    }

    .img__with__label {
      margin-bottom: -21px;
    }
  }
}

.container {
  padding: 20px;
  overflow-y: scroll;

  .header & {
    padding-top: 0;
    padding-bottom: 12px;
  }

  .header > & {
    padding-bottom: 16px;
  }
}

.header {
  color: var(--extension-text);
  text-align: left;
  svg {
    color: var(--token-light-100) !important;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  width: 100%;
  display: flex;
  justify-content: center;

  &.skew_title {
    text-align: left;
    margin: 0;
    display: inline;
  }

  &.with_subtitle {
    font-size: 32px;
    line-height: 32px;
    margin-top: 40px;
  }
}

.label {
  width: 100%;
  text-align: center;
  color: var(--token-light-100);
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
}

.subtitle {
  text-align: center;
  color: var(--token-light-100);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}

.small__subtitle {
  color: var(--token-light-100);
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
