@font-face {
  src: url("./EuclidSquare-Light.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 100;
  font-style: normal;
}

@font-face {
  src: url("./EuclidSquare-LightItalic.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 100;
  font-style: italic;
}

@font-face {
  src: url("./EuclidSquare-Regular.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("./EuclidSquare-RegularItalic.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("./EuclidSquare-Medium.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("./EuclidSquare-MediumItalic.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url("./EuclidSquare-Semibold.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("./EuclidSquare-SemiboldItalic.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url("./EuclidSquare-Bold.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url("./EuclidSquare-BoldItalic.woff2") format("woff2");
  font-family: "EuclidSquare";
  font-weight: 900;
  font-style: italic;
}