.title1 {
  font-size: 14pt;
  font-weight: 600;
  margin: 0.4rem 0;
}

.title2 {
  font-size: 12pt;
  font-weight: 600;
  margin: 0.4rem 0;
}

.title3 {
  font-size: 10pt;
  font-weight: 600;
  margin: 0.4rem 0;
}
