@import 'scss/font_mixins';

.base__input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--token-dark-300);
  border: 1px solid var(--token-dark-700);
  border-radius: 8px;
  gap: 18px;

  .base__input__field {
    @include Medium;
    border-radius: 8px;
    height: 56px;
    overflow: hidden;
    padding: 0 18px;

    &::placeholder {
      color: var(--token-dark-900);
    }
  }

  .base__input__action,
  .base__input__emoji {
    margin-right: 18px;
  }

  .base__input__emoji {
    font-size: 16px;
    line-height: 16px;
  }

  &.small {
    border: 1px solid var(--token-dark-700);
    height: 48px;
    .base__input__field {
      height: 46px;
      @include Small;
    }
  }
}

.warning {
  border-color: var(--token-warning-500);
}

.error {
  border-color: var(--token-error-500);
}
