@import "mixins";
@import "font_mixins";

.component {
  background: var(--token-dark-300);
  border-radius: 8px;
  font-size: var(--font-size-small);
  overflow: hidden;
}

.header {
  @include flex(space-between);
  width: 100%;
  background: var(--token-dark-700);
  padding: 24px;

  * {
    font-size: 14px !important;
    font-weight: 500 !important;
  }

  .arrow__icon {
    color: var(--token-light-100);
    transform: rotate(180deg);
  }
}

.icon__container {
  @include flex(flex-start);
  gap: 16px;
  max-width: 92%;

  .icon {
    color: var(--token-light-100);
    min-width: 18px;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.collapsed {
  background: var(--token-dark-500);
  .arrow__icon {
    transform: rotate(0deg);
  }
}

/* details */
.content {
  padding: 16px 0;
  //max-height: 280px;
  //overflow-y: scroll;

  .summary__display {
    @include MediumLH;
    margin: 8px 24px 16px 24px;
    padding-bottom: 24px;
    border-bottom: 1px dashed var(--token-dark-900, #5e616e);
  }
}

.detail {
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  @include SmallLH;

  h3 {
    @include SmallLH;
    color: var(--token-light-white);
  }
}

.value {
  overflow-x: auto;
  max-width: 100%;
  overflow-wrap: break-word;
  color: var(--token-light-100);
}

/* warn */
.warn {
  background: var(--danger-light);
  border: 1px solid var(--danger);
  color: var(--danger);

  .detail {
    border-top: 1px solid var(--danger);
  }
}
