@import "scss/font_mixins";

.container {
  position: relative;
}

.selector {
  height: 56px;
  padding: 0 18px;
  background: var(--token-dark-600);
  border: 1px solid var(--token-dark-700);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  appearance: none;
  width: 100%;

  .selected__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  span {
    display: flex;
    @include Small;
    color: var(--token-light-white);

    img {
      width: 18px;
      height: 18px;
    }
  }

  &.open {
    background-color: var(--token-dark-200);
  }

  &:hover {
    background-color: var(--token-dark-200);
    transition: all .25s;
  }
}

.options {
  position: absolute;
  width: 100%;
  background-color: var(--token-dark-500);
  border: 1px solid var(--token-dark-700);
  border-radius: 8px;
  z-index: 10;
  max-height: 200px;
  box-shadow: 0px 5px 7px 0px #0000009c;
  top: calc(56px + 4px);
  overflow: hidden;

  &.withSearch {
    .options__container {
      padding-top: 76px;

      &.notChildren {
        padding-top: 68px;
      }
    }

    .search__container {
      position: absolute;
      top: 0;
      z-index: 10000;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 18px;
      background-color: var(--token-dark-200);
      border-radius: 8px 8px 0px 0px;
      border-bottom: 1px solid var(--token-dark-700);

      input {
        background-color: transparent;

        &::placeholder {
          @include Small;
          color: var(--token-dark-900);
        }
      }
    }
  }

  .options__container {
    padding: 24px 18px;
    overflow: auto;
    max-height: 200px;

    &.notChildren {
      padding: 6px;
    }

    .children {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .active {
      background-color: var(--token-dark-700);
    }

    // &::-webkit-scrollbar {
    //   width: 12px;
    //   display: block;
    // }

    // &::-webkit-scrollbar-thumb {
    //   border-radius: 16px;
    //   background-color: var(--token-dark-700);
    //   border: 2px solid var(--token-dark-500);
    // }

    // &::-webkit-scrollbar-track {
    //   background-color: transparent;
    // }
  }

  button {
    padding: 8px 12px;
    margin: 1px 0px;
    width: 100%;
    transition: all .25s;

    @include MediumLH;
    color: var(--token-light-500);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;

    .selected__wrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      .checkbox__container {
        display: flex;

        svg {
          height: 16px;
          width: 16px;
        }

        .track {
          display: flex;
          justify-content: center;
          align-items: center;

          border: solid 2px var(--token-dark-900);
          border-radius: 50%;
          width: 16px;
          height: 16px;
        }
      }

      .checkbox__image__wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
      }

      span {
        @include Small;
      }
    }

    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--token-dark-700);
    }
  }
}
