.warningContainer {
  margin-top: 2.6rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.warningContainer > * {
  width: 100%;
}

.form {
  height: 80%;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .form__details > *,
  .form__footer > * {
    width: 100%;
  }

  .form__details {
    padding-bottom: 18px;
  }
}

.question {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.mainButton {
  width: 100%;
}

.smallButton {
  margin-top: 0.8rem;
  font-size: 14px;
  font-weight: 500;
  color: var(--token-light-100);

  &:hover {
    color: var(--token-light);
  }
}

.completeAnimation {
  width: min(400px, 80vw);
  margin: 0 auto;
}
