@import "mixins";

.assetlist {
  display: grid;
  grid-template-areas: "title" "list";
  grid-template-rows: min-content auto;
  overflow-y: hidden;
}

.assetlist__title {
  @include flex(space-between);
  margin: 25px 10px 0px 10px;
  grid-area: title;
}

.assetlist__list {
  grid-area: list;
  padding-bottom: 1.6rem;
}

.filter__input {
  margin-top: 16px;
  margin-bottom: 24px;
}

.filter {
  cursor: pointer;
  margin-bottom: 20px;
  &.inactive {
    color: var(--token-light-100);
  }
}

.low__bal {
  width: 100%;
  height: 30px;
  cursor: pointer;
}
