@import "mixins";
@import "font_mixins";

.details {
  // background-color: var(--token-dark-500);
  @include flex(center);
  flex-direction: column;
  width: 100%;
  padding-bottom: 16px;
  height: fit-content;
  grid-area: details;

  .cost__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .token {
    @include flex(center);
    color: var(--token-light-100);
    gap: 8px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .token__amount {
      @include X-Small;
      color: var(--token-light-100);
    }
  }

  h1 {
    @include XX-Large;
    color: var(--token-light-white);
    margin-bottom: 24px;
  }

  p {
    color: var(--text-muted);
    font-size: 12pt;
    margin-top: 0.2rem;
  }
}

.chainlist__container {
  padding: 24px 0;
}

.chainlist {
  padding-inline: 10px;
  grid-area: list;
  display: grid;
  grid-template-areas: "title" "list";
  grid-template-rows: min-content auto;
  overflow-y: hidden;
}

.chainlist__title {
  grid-area: title;
  padding: 0px 10px 6px;
}

.chainlist__list {
  gap: 4px;
  display: grid;
  overflow-y: auto;
  grid-area: list;
  padding-bottom: 14px;
}

.actions {
  @include flex(space-between);
  background-color: var(--card-bg);
  padding-top: 0.6rem;
  padding: 20px 20px;
  gap: 0.6rem;
  width: 100%;

  button {
    min-width: 0;
    width: 100%;
    padding-block: 20px;
    height: fit-content;
  }
}

.vesting {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
