@import "mixins";
@import "font_mixins";

.asset__page__wrapper {
  max-width: var(--extension-width);
  margin: 0 auto;
  min-height: calc(100vh - var(--header-height));
  display: flex;

  .content__container {
    background-color: var(--token-dark-300);

    .details {
      position: relative;
      background-color: var(--token-dark-500);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 24px 24px 16px 24px;
      border-bottom: 1px solid var(--token-dark-100);

      .back__button {
        position: absolute;
        top: 6px;
        left: 8px;
        padding: 16px;
      }

      .cost__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;

        .token {
          display: flex;
          align-items: center;
          color: var(--token-light-100);
          gap: 8px;

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .token__amount {
            @include X-Small;
            color: var(--token-light-100);
          }
        }

        h1 {
          @include XX-Large;
          color: var(--token-light-white);
        }
      }
    }

    .chainlist__container {
      padding: 24px 0;

      .chainlist {
        padding-inline: 14px;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .chainlist__title {
          padding: 0px 10px;
        }

        .chainlist__list {
          overflow-y: auto;
          margin-bottom: 14px;
        }
      }
    }

    .vesting {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
      padding: 0 10px;
    }
  }
}
