@import "mixins";

.networth {
  @include flex-column;
  padding: 1.6rem 4rem;

  p {
    color: var(--text-muted);
    font-size: 14px;
    line-height: 140%;
  }

  h1 {
    font-size: 32px;
    line-height: 150%;
    margin-top: 4px;
  }
}

.networth__buttons {
  @include flex;
  gap: 48px;
  margin-top: 28px;
  width: 100%;
}
