@import "mixins";
@import "font_mixins";

.networth {
  @include flex-column;
  gap: 16px;
  padding: 24px 24px 8px 24px;
  background-color: var(--token-dark-500);

  p {
    @include X-Small;
    color: var(--token-light-100);
  }

  h1 {
    @include XX-Large;
    color: var(--token-light-white);
  }
}

.networth__buttons {
  @include flex;
  gap: 4px;
  width: 308px;
}

.networth__buttons__labels {
  @include X-Small;
}

.button__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-top: 8px;
}
