@import "mixins";

.wallet {
  width: var(--extension-width);
  position: relative;
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
  transition: 400ms;
  background-color: var(--card-bg-muted);
}
.header {
  .back {
    position: absolute;
    left: 20px;
    top: 40px;

    svg path {
      fill: var(--text);
    }
  }

  h1 {
    width: 100%;
    padding: 1.6rem;
    font-size: x-large;
    margin-left: 40px;
  }
}
