@import "theme";
@import "fonts";
@import "reboot";
@import "utils";
@import "customize";

#station {
  min-width: var(--extension-width); // 400px
  min-height: 600px; // Chrome extension maximum height
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
