.mainButton {
  margin-top: 2.6rem;
  min-width: 300px;
}

.smallButton {
  margin-top: 0.8rem;
  font-weight: 400;
  &:hover {
    color: var(--button-primary-bg);
  }
}

.completeAnimation {
  width: 400px;
  margin: 0 auto;
}
