.warningContainer {
  margin-top: 2.6rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.warningContainer > * {
  width: 100%;
}

.form {
  height: 100%;
}
.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .form__details > *,
  .form__footer > * {
    width: 100%;
  }
}

.mainButton {
  width: 100%;
}

.smallButton {
  margin-top: 0.8rem;
  font-weight: var(--normal);
  &:hover {
    color: var(--button-primary-bg);
  }
}

.completeAnimation {
  width: min(400px, 80vw);
  margin: 0 auto;
}
