.text {
  font-weight: var(--bold);
  padding: 3px 12px;
  border-radius: var(--border-radius);
  text-align: center;
}

.warning {
  background: var(--warning);
  color: white;
  text-transform: uppercase;
}
